.git
.gitignore
.env
.idea
.pytest_cache
env.yaml
.gcloudignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*/tests/
tests/
media/
htmlcov/
.coverage
.DS_Store
*.log
.dockerignore
docs/
